[submodule "src/optcdb"]
	path = src/optcdb
	url = https://github.com/2Shankz/optc-db.github.io.git
[submodule "src/optc-ships"]
	path = src/optc-ships
	url = https://github.com/blzn50/optc-ships.git
